fastapi==0.115.12
uvicorn==0.34.2
python-dotenv==1.1.0
firebase-admin==6.8.0

diffusers==0.35.1
torch==2.7.0
torchvision==0.22.0
transformers==4.52.4
accelerate==1.6.0
peft==0.17.0
safetensors==0.5.3

Pillow==11.2.1
requests==2.32.3
httpx==0.28.1

pytest==8.3.5