.env

**/node_modules/
**/dist/
firebase-debug.log
functions/firestore-debug.log
**/venv/

/inference-server/outputs/
/inference-server/lora_cache/
/inference-server/__pycache__/
/inference-server/.pytest_cache/
/inference-server/tests/__pycache__/